$buttonBorder: #767676;
$buttonTextColorPrimary: #1e1e1e;
$buttonTextColorSecondary: #ffffff;
$buttonBackgroundPrimary: #e3e3e3;
$buttonBackgroundSecondary: #2c2c2c;
$buttonBackgroundRedHover: #c00f0c;

.button {
  height: 48px;
  border-radius: 9999px;
  border: unset;
  padding: 0px 16px;
  cursor: pointer;
}

.button.primary {
  background-color: $buttonBackgroundPrimary;
  border: 1px solid $buttonBorder;
  color: $buttonTextColorPrimary;
}

.button.secondary {
  background-color: $buttonBackgroundSecondary;

  &:hover {
    background-color: $buttonTextColorPrimary;
  }

  color: $buttonTextColorSecondary;
}

.button.red {
  background-color: $buttonBackgroundRedHover;
  border: 1px solid $buttonBackgroundRedHover;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2c2c2c;
  }
  color: $buttonTextColorSecondary;
}

.button.small {
  height: 32px;
}

.button.medium {
  height: 40px;
}

.button.large {
  height: 48px;
}

.mobile-hidden {
  display: none !important;
}

@media (min-width: 768px) {
  .mobile-hidden {
    display: flex !important;
  }
}

.desktop-hidden {
  display: flex;
}

@media (min-width: 768px) {
  .desktop-hidden {
    display: none;
  }
}

.header__dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 85px;
  right: 16px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  height: 370px;
  transform: translateX(100%);
  will-change: transform, opacity;

  .header-right-buttons {
    display: flex;
    gap: 16px;
  }
}

.header__dropdown-menu-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;

  border-bottom: 1px solid #d9d9d9;
}

.header__dropdown-menu-item-pages {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-bottom: 24px;

  border-bottom: 1px solid #d9d9d9;
}
